@media screen and (min-width: 500px) {
    header {
        background-color: var(--primary-color);
        color: var(--background-color);
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    main {
        grid-template-columns: 1fr 1fr 1fr;
        color: var(--secondary-color);
    }
   
    main figure {
        text-align: right;
    } 

    nav ul {
        display: flex;
    }

    nav ul li {
        flex: 1 1 100%;
    }

    .navigation {
        flex-direction: row;
    }

    .navigation a {
        display: block;
        flex: 1 1 100%;
    }

    .container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        margin: 0 auto;
        gap: 20px;
        text-align: center;
    }
    .container img.soil {
        border: 1px solid;
    }

    .instructions-container {
        display: flex;
        align-items: flex-start;
        gap: 20px;
    }

    .instructions {
        flex-shrink: 0;
    }
    
    figcaption {
        text-align: center;
        margin-top: 10px;
    }
    .soil-container {
        display: flex;
        align-items: flex-start;
        gap: 20px;
    }

    .text-content {
        flex: 2;
    }

    ul {
        margin-top: 10px;
    }
}