@media screen and (min-width: 500px) {
    header {
        background-color: var(--primary-color);
        color: var(--background-color);
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    main {
        grid-template-columns: 1fr 1fr 1fr;
        color: var(--secondary-color);
    }

    nav ul {
        display: flex;
    }

    nav ul li {
        flex: 1 1 100%;
    }

    .navigation {
        flex-direction: row;
    }

    .navigation a {
        display: block;
        flex: 1 1 100%;
    }

    .container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        margin: 0 auto;
    }

}