h1 {
    text-align: center;
}
main {
    margin: 0 auto;
    width: 400px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: large;
}

img {
    width: 100%;
    background-color: black;
    animation: fade 1s;
}
picture {
    align-items: center;
}

footer {
    margin: 1rem auto;
    border: 1px solid #bbb;
    padding: 1rem;
    background-color: lightblue;
    text-align: center;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
