:root {
    --primary-color: red;
    --secondary-color: black;
    --background-color: white;
    --header-padding: 20px;
    --card-padding: 20px;
    --card-margin: 20px auto;
    --card-max-width: 500px;
    --card-border-radius: 8px;
    --card-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    --table-font-size: 0.9em;
    --table-padding: 10px;
    --table-margin-top: 10px;
    --table-margin-left: 20px;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
}
header {
    background-color: var(--primary-color);
    color: var(--background-color);
    text-align: center;
    padding: var(--header-padding) 0;
}

header h1 {
    margin: 0;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    padding: var(--header-padding);
    position: relative;
}

.hero img {
    width: 100%;
    height: auto;
}

.card {
    text-align: center;
    margin: var(--card-margin);
    padding: var(--card-padding);
    max-width: var(--card-max-width);
    border-radius: var(--card-border-radius);
    box-shadow: var(--card-box-shadow);
}

.card h2 {
    font-size: 2em;
}

.card table {
    margin: 0 auto;
    border-collapse: collapse;
    font-size: var(--table-font-size);
}

.card td {
    padding: 5px 10px;
}

.card td:first-child {
    text-align: right;
    font-weight: bold;
}

.card td:last-child {
    text-align: left;
}

.weather-card h2 img {
    display: none;
    /* Hide the image by default */
}

.weather-card h2::after {
    content: '⛅';
    display: inline;
    /* Show the emoticon by default */
}


footer {
    background-color: var(--secondary-color);
    color: var(--background-color);
    text-align: center;
    padding: var(--header-padding) 0;
}

footer p {
    margin: 5px 0;
}